/* -------- mapa para breakpoints ------------------ */
.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards; }

/* Fade In */
.animate.fade {
  animation-name: animate-fade;
  animation-timing-function: ease; }

@keyframes animate-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.delay-1 {
  animation-delay: 0.6s; }

.delay-2 {
  animation-delay: 0.7s; }

.delay-3 {
  animation-delay: 0.8s; }

.delay-4 {
  animation-delay: 0.9s; }

* {
  margin: 0px;
  font-size: 8px;
  font-family: Roboto;
  box-sizing: border-box;
  padding: 0%; }

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf); }

h1 {
  font-size: 6rem; }

h2, .main_tituloSeccion_queOfrecemos {
  font-size: 3rem; }

h3, .main_tarjeta_titulo {
  font-size: 2rem; }

h4, .footer, .main_tarjeta_descripcion {
  font-size: 1.8rem; }

.bordeTarjeta, .main_queOfrecemos1, .main_queOfrecemos2, .main_queOfrecemos3, .main_queOfrecemos4, .main_queOfrecemos5 {
  border-color: #b3b2b2;
  border-width: 1px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 5% 0%;
  background-image: linear-gradient(180deg, #00698c 0%, #70c5e2 100%);
  transition: all .2s ease-in-out; }
  .bordeTarjeta:hover, .main_queOfrecemos1:hover, .main_queOfrecemos2:hover, .main_queOfrecemos3:hover, .main_queOfrecemos4:hover, .main_queOfrecemos5:hover {
    transform: scale(1.1);
    background-image: linear-gradient(180deg, #f39638 0%, #70c5e2 100%); }

/* Mixin para definir valores de textos especiales */
/* Mixin para definir valores de breakpoint */
/* MEDIA QUERY PARA DISPOSITIVOS <1000px */
@media screen and (min-width: 320px) {
  .landing {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(19, auto);
    grid-template-areas: "logo redes" "nav nav" "title title" "video video" "queofrecemos queofrecemos" "queofrecemos1 queofrecemos1" "queofrecemos2 queofrecemos2" "queofrecemos3 queofrecemos3" "queofrecemos4 queofrecemos4" "queofrecemos5 queofrecemos5" "nos nos" "val val" "val1 val1" "val2 val2" "val3 val3" "val4 val4" "val5 val5" "disclaimer disclaimer" "footer footer"; }
  .sobreeltiroconarco {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "logo redes" "nav nav" "title title" "desc desc" "subtitle subtitle" "bene bene" "pregunta1 pregunta1" "pregunta2 pregunta2" "pregunta3 pregunta3" "pregunta4 pregunta4" "pregunta5 pregunta5" "footer footer"; }
  .preguntas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, auto);
    grid-template-areas: "logo redes" "nav nav" "title title" "desc desc" "pregunta1 pregunta1" "rta1 rta1" "pregunta2 pregunta2" "rta2 rta2" "pregunta3 pregunta3" "rta3 rta3" "pregunta4 pregunta4" "rta4 rta4" "pregunta5 pregunta5" "rta5 rta5" "footer footer"; }
  .main_respuesta {
    padding: 2%; }
  .main_subtitle {
    padding: 4%; }
  .servicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "logo redes" "nav nav" "title title" "desc desc" "serv1 serv1" "serv2 serv2" "serv3 serv3" "serv4 serv4" "serv5 serv5" "footer footer"; }
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "logo redes" "nav nav" "title title" "desc desc" "gal1 gal2" "gal3 gal4" "gal5 gal6" "gal7 gal8" "gal9 gal10" "gal11 gal12" "gal13 gal14" "footer footer"; }
  .main_servicios_imagen img {
    display: none; }
  .header_barraNav div {
    height: 40px; }
    .header_barraNav div a {
      font-family: Roboto;
      color: black;
      font-size: 1.2rem;
      text-decoration: none;
      padding: 1%;
      cursor: pointer;
      display: block;
      text-align: center; }
  .main_title {
    font-size: 5rem; }
  .main_video video {
    width: inherit; }
  .tarjetaContenedor {
    margin: auto;
    padding: auto;
    height: auto; }
  .main_video_convocatoria h1 {
    font-family: Roboto;
    font-size: 3rem;
    text-align: center;
    margin: 3% 0%;
    color: white; }
  .main_video_convocatoria h2, .main_video_convocatoria .main_tituloSeccion_queOfrecemos {
    display: none; }
  .boton {
    display: none;
    background-color: yellow;
    border-radius: 15%;
    margin: 2% auto;
    z-index: 1;
    width: 50%;
    padding: 4%; }
    .boton a {
      cursor: pointer;
      display: block;
      font-size: 1.5rem;
      color: black;
      text-decoration: none; }
  /* ------------------- QUE OFRECEMOS ---------------------------- */
  .main_tituloSeccion_queOfrecemos {
    grid-area: queofrecemos;
    display: flex;
    font-size: 4rem;
    text-align: center;
    font-family: Roboto;
    margin: 3%;
    padding: 10%; }
  .tarjetaContenedor {
    margin: auto;
    height: auto; }
  .blanco {
    display: none; }
  .main_tarjeta_titulo {
    font-size: 2rem;
    height: 20px;
    margin: 1% 5%; }
  .main_tarjeta_descripcion {
    height: auto;
    padding: 1% 5%;
    margin: 0%; }
  .main_tituloSeccion_queOfrecemos {
    margin: 0%;
    padding: 0%;
    font-style: oblique;
    background-color: aquamarine; }
  .main_queOfrecemos1 {
    grid-area: queofrecemos1;
    margin: 0%; }
  .main_queOfrecemos h2, .main_queOfrecemos .main_tituloSeccion_queOfrecemos {
    text-align: center; }
  .main_queOfrecemos2 {
    grid-area: queofrecemos2; }
  .main_queOfrecemos3 {
    grid-area: queofrecemos3; }
  .main_queOfrecemos4 {
    grid-area: queofrecemos4; }
  .main_queOfrecemos5 {
    grid-area: queofrecemos5; } }

@media screen and (min-width: 1000px) {
  /* FOR DESKTOP */
  .landing {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "logo nav nav nav redes" "title title title title title" "video video video video video" "queofrecemos queofrecemos queofrecemos queofrecemos queofrecemos" "queofrecemos1 queofrecemos2 queofrecemos3 queofrecemos4 queofrecemos5" "nos nos nos nos nos" "val val val val val" "val1 val2 val3 val4 val5" "disclaimer disclaimer disclaimer disclaimer disclaimer" "footer footer footer footer footer"; }
  .sobreeltiroconarco {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "logo nav nav nav redes" "title title title title title" "desc desc desc desc desc" "subtitle subtitle subtitle subtitle subtitle" "bene bene bene bene bene" "footer footer footer footer footer"; }
  .preguntas {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, auto);
    grid-template-areas: "logo nav nav nav redes" "title title title title title" "desc desc desc desc desc" "pregunta1 pregunta1 pregunta1 pregunta1 pregunta1" "rta1 rta1 rta1 rta1 rta1" "pregunta2 pregunta2 pregunta2 pregunta2 pregunta2" "rta2 rta2 rta2 rta2 rta2" "pregunta3 pregunta3 pregunta3 pregunta3 pregunta3" "rta3 rta3 rta3 rta3 rta3" "pregunta4 pregunta4 pregunta4 pregunta4 pregunta4" "rta4 rta4 rta4 rta4 rta4" "pregunta5 pregunta5 pregunta5 pregunta5 pregunta5" "rta5 rta5 rta5 rta5 rta5" "footer footer footer footer footer"; }
  .servicios {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "logo nav nav nav redes" "title title title title title" "desc desc desc desc desc" "imgServ1 serv1 serv1 serv1 serv1" "serv2 serv2 serv2 serv2 imgServ2" "imgServ3 serv3 serv3 serv3 serv3" "serv4 serv4 serv4 serv4 imgServ4" "footer footer footer footer footer"; }
  .galeria {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "logo nav nav nav redes" "title title title title title" "desc desc desc desc desc" "gal1 gal2 gal3 gal4 gal5" "gal6 gal6 gal6 gal7 gal8" "gal9 gal10 gal10 gal10 gal11" "gal12 gal13 gal14 gal14 gal14" "footer footer footer footer footer"; }
  .blanco {
    display: flex;
    margin: auto; } }

.divider {
  grid-area: divider;
  border-color: black;
  border-width: 2px; }

.general_center {
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center; }

/* --------- HEADER ------------- */
.header_logo {
  display: flex;
  grid-area: logo;
  padding: 5%; }
  .header_logo img {
    object-fit: contain;
    max-width: 100%; }

.header_barraNav {
  display: flex;
  grid-area: nav; }
  .header_barraNav div {
    border: 1px;
    border-radius: 5%;
    border-style: groove;
    border-color: lightseagreen;
    margin: auto 2px;
    padding: auto;
    background-color: lightskyblue;
    width: 20%;
    display: flex;
    height: 60px; }
    .header_barraNav div:hover {
      background-color: orange;
      transform: scale(110%);
      transition-duration: 0.4s;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
    .header_barraNav div a {
      font-family: Roboto;
      color: blue;
      font-size: 2rem;
      text-decoration: none;
      display: block;
      cursor: pointer;
      padding: auto; }

.header_redes {
  display: flex;
  grid-area: redes;
  padding: 5%; }
  .header_redes h4, .header_redes .footer, .header_redes .main_tarjeta_descripcion {
    text-align: center;
    font-family: Roboto; }

.header_redes_img {
  padding: 5%; }

/* --------- CUERPO ------------ */
.cuerpo {
  display: grid;
  background-color: #e3f2f8;
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 20px; }

/* INICIO MAIN */
.main_title {
  grid-area: title;
  font-size: 8rem;
  text-align: center;
  text-shadow: 0px 0px 7px yellow;
  font-family: Roboto;
  margin: 0%;
  background-image: url("../assets/img/backgroundimage.png");
  background-size: cover;
  height: 200px;
  display: flex; }

.main_description {
  grid-area: desc;
  color: #777777;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  font-size: 2.5rem; }
  .main_description h2, .main_description .main_tituloSeccion_queOfrecemos {
    text-align: center;
    padding: 2%; }

.main_subtitle {
  grid-area: subtitle;
  display: flex;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0px 0px 7px yellow;
  font-family: Roboto;
  margin: 0%; }

/* FOOTER */
.footer {
  grid-area: footer;
  text-align: center;
  font-family: Roboto;
  font-style: italic;
  padding: 1%; }

/*--------------------------------FORMATO GALERIA--------------------------------*/
.main_galeria {
  display: contents; }

.main_galeria div img {
  width: 100%;
  display: flex;
  max-height: 300px; }

.main_galeria_tarjeta1 {
  grid-area: gal1;
  display: flex; }

.main_galeria_tarjeta2 {
  grid-area: gal2;
  display: flex; }

.main_galeria_tarjeta3 {
  grid-area: gal3; }

.main_galeria_tarjeta4 {
  grid-area: gal4; }

.main_galeria_tarjeta5 {
  grid-area: gal5; }

.main_galeria_tarjeta6 {
  grid-area: gal6; }

.main_galeria_tarjeta7 {
  grid-area: gal7; }

.main_galeria_tarjeta8 {
  grid-area: gal8; }

.main_galeria_tarjeta9 {
  grid-area: gal9; }

.main_galeria_tarjeta10 {
  grid-area: gal10; }

.main_galeria_tarjeta11 {
  grid-area: gal11; }

.main_galeria_tarjeta12 {
  grid-area: gal12; }

.main_galeria_tarjeta13 {
  grid-area: gal13; }

.main_galeria_tarjeta14 {
  grid-area: gal14; }

/* --------------------------------  FORMATO PREGUNTAS FRECUENTES  -------------------------------- */
.main_respuesta {
  font-size: 2rem;
  margin: 1% 3%; }

.pregunta1 {
  grid-area: pregunta1;
  display: flex; }

.rta1 {
  display: flex;
  grid-area: rta1; }

.pregunta2 {
  grid-area: pregunta2;
  display: flex; }

.rta2 {
  display: flex;
  grid-area: rta2; }

.pregunta3 {
  grid-area: pregunta3;
  display: flex; }

.rta3 {
  display: flex;
  grid-area: rta3; }

.pregunta4 {
  grid-area: pregunta4;
  display: flex; }

.rta4 {
  display: flex;
  grid-area: rta4; }

.pregunta5 {
  grid-area: pregunta5;
  display: flex; }

.rta5 {
  display: flex;
  grid-area: rta5; }

/* -------------------------------- FORMATO SERVICIOS--------------------------------  */
.main_servicios_texto {
  display: flex;
  flex-direction: column;
  padding: 1% 5%; }
  .main_servicios_texto h2, .main_servicios_texto .main_tituloSeccion_queOfrecemos {
    padding: 2% 0%; }

.main_servicios_imagen img {
  grid-area: imgServ;
  height: 50%;
  width: 70%; }

.imgServicios {
  display: flex;
  object-fit: contain; }

.serv1 {
  display: flex;
  grid-area: serv1; }

.serv2 {
  display: flex;
  grid-area: serv2; }

.serv3 {
  display: flex;
  grid-area: serv3; }

.serv4 {
  display: flex;
  grid-area: serv4; }

/* -------------------------------- FORMATO SOBRE EL TIRO CON ARCO -------------------------------- */
.main_beneficios {
  grid-area: bene;
  display: flex;
  text-align: center;
  font-size: 2rem;
  font-family: Roboto;
  font-style: italic;
  padding: 2%;
  line-height: 30px; }

/* MAIN VIDEO */
.main_video {
  grid-area: video;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  position: relative; }
  .main_video video {
    width: inherit; }

/* --------- convocatoria ----------------- */
.main_video_convocatoria {
  grid-area: video;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 5% 0%; }
  .main_video_convocatoria h1 {
    color: white;
    font-family: Arial;
    font-size: 6rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 3% 0%; }
  .main_video_convocatoria h2, .main_video_convocatoria .main_tituloSeccion_queOfrecemos {
    color: #000000;
    font-size: 4rem;
    text-align: center;
    margin: 2% 0%;
    font-family: Roboto;
    color: white; }

.boton {
  background-color: yellow;
  border-radius: 15%;
  margin: 2% auto;
  z-index: 1;
  width: 30%; }
  .boton a {
    cursor: pointer;
    display: block;
    font-size: 4rem;
    color: black;
    text-decoration: none; }

/* -------------- FIN VIDEO -------------- */
/* ------- QUE OFRECEMOS ------------- */
.main_tituloSeccion_queOfrecemos {
  grid-area: queofrecemos;
  text-align: center;
  font-family: Roboto; }

.blanco {
  width: 50%; }

.tarjetaContenedor {
  background-color: white;
  margin: 3%;
  padding: 3%;
  border-radius: 5% 15%;
  height: 200px; }

.main_tarjeta_titulo {
  height: 50px;
  margin: 5% 0%; }

.main_tarjeta_descripcion {
  height: 60px;
  padding: 1%;
  margin-bottom: 10%; }

.main_queOfrecemos1 {
  grid-area: queofrecemos1; }
  .main_queOfrecemos1:hover #slide {
    transition: 1s;
    left: 0; }
  .main_queOfrecemos1 #slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s; }

@-webkit-keyframes slide {
  100% {
    left: 0; } }

@keyframes slide {
  100% {
    left: 0; } }

.main_queOfrecemos2 {
  grid-area: queofrecemos2; }

.main_queOfrecemos3 {
  grid-area: queofrecemos3; }

.main_queOfrecemos4 {
  grid-area: queofrecemos4; }

.main_queOfrecemos5 {
  grid-area: queofrecemos5;
  background-image: linear-gradient(180deg, #C1272D 0%, #70c5e2 100%); }

/* --------------- FIN QUE OFRECEMOS    -------------------- */
/* -------------- SOBRE NOSOTROS ------------ */
.main_sobreNosotros {
  grid-area: nos;
  background-color: #f7f0d8;
  padding: 2% 0%; }

.main_tituloSeccion_sobreNosotros {
  display: flex;
  font-size: 4rem;
  text-align: center;
  font-family: Roboto;
  margin-bottom: 2%; }

.main_sobreNosotros_descripcion {
  font-size: 2rem; }

.main_tituloSeccion_valores {
  grid-area: val;
  display: flex;
  font-size: 4rem;
  text-align: center;
  font-family: Roboto;
  padding: 2%; }

.main_valores1 {
  grid-area: val1; }

.main_valores2 {
  grid-area: val2; }

.main_valores3 {
  grid-area: val3; }

.main_valores4 {
  grid-area: val4; }

.main_valores5 {
  grid-area: val5; }

/* DISCLAIMER */
.main_disclaimer {
  width: 100%;
  background-color: #f7f0d8;
  grid-area: disclaimer;
  padding: 2%; }
  .main_disclaimer h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Roboto;
    padding-top: 1%; }
  .main_disclaimer p {
    text-align: center;
    font-size: 2rem;
    font-family: Roboto;
    font-style: italic;
    padding: 2%; }
