<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Total Archery</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>
<body class="cuerpo">
    <!--INICIO ENCABEZADO-->
    <header class="header">
        <!-- LOGO encabezado -->
            <div class="header_logo">
                <img src="../assets/img/logo.png" alt="logo">
            </div>
        <!-- CIERRE LOGO -->
        <!-- INICIO NAV -->
            <nav class="header_barraNav">
                <!-- lista con viñetas -->
                <div>
                    <a href="../index.html">Inicio</a>
                </div>
                <div>
                    <a href="servicios.html">Servicios</a>
                </div>
                <div>
                    <a href="sobreeltiroconarco.html">Sobre el Tiro con Arco</a>
                </div>
                <div>
                    <a href="galeria.html">Galería</a>
                </div>
                <div>
                    <a href="preguntas.html">Preguntas Frecuentes</a>
                </div>
            </nav>	
        <!-- CIERRE NAV -->
        <!-- INICIO REDES NAV -->
            <div class="header_redes">
                <div>
                    <h2>¡Seguinos en las redes!</h2>
                </div>
                <div class="header_redes_img">
                    <a href="http://www.instagram.com/TotalArcheryBA"><img src="../assets/img/ig_icon.jpg" alt="logo ig"></a>				
                </div>
                <div class="header_redes_img">
                    <a href="http://www.facebook.com/TotalArcheryBA"><img src="../assets/img/fb_icon.jpg" alt="logo fb"> </a>
                </div>
            </div>    
        <!-- CIERRE REDES NAV -->
	</header>
	<!-- CIERRE ENCABEZADO -->
    <!-- INICIO CUERPO -->
<body class="cuerpo">
    <main class="main_sobreeltiro">
        <h1 class="main_title"> Conocenos a través de imágenes </h1>
        <section class="main_description">
			<h2>A lo largo del tiempo fuimos recopilando imágenes que nos representan como comunidad</h2>

        </section>
        <hr class="divider">
	
		<section class="main_galeria">
				<!-- Galería de tarjetas de fotos -->
					<div class="main_galeria_tarjeta" >
						<img src="../assets/img/tarjetaImagen1.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta" >
						<img src="../assets/img/tarjetaImagen2.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta" >
						<img src="../assets/img/tarjetaImagen3.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta" >
						<img src="../assets/img/tarjetaImagen4.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta" >
						<img src="../assets/img/tarjetaImagen5.png" alt="imagen5">	
					</div>	
					<div class="main_galeria_tarjeta" >
						<img src="../assets/img/tarjetaImagen6.jpg" alt="imagen1">	
					</div>
				<!-- fin Galería de tarjetas de fotos -->
			</section>		
	</main>
	<!-- cierre contenido -->
	<!-- inicio footer -->
    <footer class="footer">
        -- Total Archery 2022 v2.5 -- 
    </footer>
	<!-- cierre footer -->	

</body>
</html>
