<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Total Archery</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>
<body class="cuerpo galeria general_center">
    <!--INICIO ENCABEZADO-->
        <!-- LOGO encabezado -->
            <div class="header_logo">
                <img src="../assets/img/logo.png" alt="logo">
            </div>
        <!-- CIERRE LOGO -->
        <!-- INICIO NAV -->
            <nav class="header_barraNav general_center">
                <!-- lista con viñetas -->
                <div class="general_center">
                    <a href="../index.html">Inicio</a>
                </div>
                <div class="general_center">
                    <a href="servicios.html">Servicios</a>
                </div>
                <div class="general_center">
                    <a href="sobreeltiroconarco.html">Sobre el Tiro con Arco</a>
                </div>
                <div class="general_center">
                    <a href="galeria.html">Galería</a>
                </div>
                <div class="general_center">
                    <a href="preguntas.html">Preguntas Frecuentes</a>
                </div>
            </nav>	
        <!-- CIERRE NAV -->
        <!-- INICIO REDES NAV -->
            <div class="header_redes general_center">
                <div>
                    <h4>¡Seguinos en las redes!</h4>
                </div>
                <div class="header_redes_img">
                    <a href="http://www.instagram.com/TotalArcheryBA"><img src="../assets/img/ig_icon.jpg" alt="logo ig"></a>				
                </div>
                <div class="header_redes_img">
                    <a href="http://www.facebook.com/TotalArcheryBA"><img src="../assets/img/fb_icon.jpg" alt="logo fb"> </a>
                </div>
            </div>    
        <!-- CIERRE REDES NAV -->
	<!-- CIERRE ENCABEZADO -->
    <!-- INICIO CUERPO -->
        <h1 class="main_title general_center"> Conocenos a través de imágenes </h1>
        <section class="main_description">
			<h2>A lo largo del tiempo fuimos recopilando imágenes que nos representan como comunidad</h2>

        </section>
		<section class="main_galeria general_center">
				<!-- Galería de tarjetas de fotos -->
					<div class="main_galeria_tarjeta1" >
						<img class="" src="../assets/img/1-min.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta2" >
						<img src="../assets/img/2-min.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta3 general_center" >
						<img src="../assets/img/3-min.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta4" >
						<img src="../assets/img/4-min.jpg" alt="imagen1">	
					</div>
					<div class="main_galeria_tarjeta5" >
						<img src="../assets/img/5-min.jpg" alt="imagen5">	
					</div>	
					<div class="main_galeria_tarjeta6" >
						<img src="../assets/img/7-lg-min.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta7" >
						<img src="../assets/img/8-min.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta8" >
						<img src="../assets/img/9-min.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta9" >
						<img src="../assets/img/10-min.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta10" >
						<img src="../assets/img/11lg-min.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta11" >
						<img src="../assets/img/12-min.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta12" >
						<img src="../assets/img/13-min.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta13" >
						<img src="../assets/img/tarjetaImagen2.jpg" alt="imagen1">	
					</div>
                    <div class="main_galeria_tarjeta14" >
						<img src="../assets/img/9lg-min.jpg" alt="imagen1">	
					</div>
				<!-- fin Galería de tarjetas de fotos -->
			</section>		
	<!-- cierre contenido -->
	<!-- inicio footer -->
    <footer class="footer">
        -- Total Archery 2022 v2.5 -- 
    </footer>
	<!-- cierre footer -->	

</body>
</html>
