<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Total Archery</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>
<body class="cuerpo preguntas general_center">
    <!--INICIO ENCABEZADO-->
        <!-- LOGO encabezado -->
            <div class="header_logo general_center" >
                <img src="../assets/img/logo.png" alt="logo">
            </div>
        <!-- CIERRE LOGO -->
        <!-- INICIO NAV -->
            <nav class="header_barraNav general_center">
                <!-- lista con viñetas -->
                <div>
                    <a href="../index.html">Inicio</a>
                </div>
                <div>
                    <a href="servicios.html">Servicios</a>
                </div>
                <div>
                    <a href="sobreeltiroconarco.html">Sobre el Tiro con Arco</a>
                </div>
                <div>
                    <a href="galeria.html">Galería</a>
                </div>
                <div>
                    <a href="preguntas.html">Preguntas Frecuentes</a>
                </div>
            </nav>	
        <!-- CIERRE NAV -->
        <!-- INICIO REDES NAV -->
            <div class="header_redes general_center">
                <div>
                    <h2>¡Seguinos en las redes!</h2>
                </div>
                <div class="header_redes_img">
                    <a href="http://www.instagram.com/TotalArcheryBA"><img src="../assets/img/ig_icon.jpg" alt="logo ig"></a>				
                </div>
                <div class="header_redes_img">
                    <a href="http://www.facebook.com/TotalArcheryBA"><img src="../assets/img/fb_icon.jpg" alt="logo fb"> </a>
                </div>
            </div>    
        <!-- CIERRE REDES NAV -->
	</header>
	<!-- CIERRE ENCABEZADO -->
	<!-- INICIO CUERPO -->
    
        <h1 class="main_title general_center"> Preguntas Frecuentes </h1>
        <section class="main_description general_center">
            <h2>
			A lo largo de los años fuimos recopilando las consultas más frecuentes con las que nos llegan los arqueros:
			</h2>
        </section>
        <h1 class="main_subtitle pregunta1 general_center">
			¿TENGO QUE TENER FUERZA PARA PODER IR?
        </h1>
        <section class="main_beneficios rta1">
			Para nada, los arcos de iniciación son de baja potencia y, si bien al principio uno no está acostumbrado y se cansa, con el tiempo el cuerpo se fortalece y puede dominar mayor potencia. Hay chicos pequeños que practican y tienen mucha menos fuerza que un adulto!

        </section>
		
        <h1 class="main_subtitle pregunta2 general_center">
			¿CUÁNTO TARDO EN TIRAR BIEN?
        </h1>
        <section class="main_beneficios rta2">
			Es un aprendizaje muy personal y progresivo. Hay personas que rápidamente ganan la coordinación necesaria para darle al centro y otras a las que les cuesta un poco más. Sin embargo, con paciencia y perseverancia todo el mundo avanza y llega a tirar lejos. Este es un punto importante también, ¿qué es “bien”? Siempre vamos a tratar de manejar las expectativas para que sean realistas ya que como cualquier disciplina, nadie nace sabiendo.

        </section>
		
		<h1 class="main_subtitle pregunta3 general_center">
			¿ME TENGO QUE COMPRAR EL EQUIPO?

        </h1>
        <section class="main_beneficios rta3">
			No, el club brinda el equipo necesario para poder tirar. Si bien la compra del equipo ayuda mucho en el tiro, recomendamos esperar hasta que uno esté seguro de que le gusta la actividad a largo plazo y fortalecer el cuerpo para manejar una potencia mayor. Si no a futuro habrá que desembolsar más dinero ya que se habrá superado esa fuerza.

        </section>
		
		<h1 class="main_subtitle pregunta4 general_center">
			TENGO UN PROBLEMA DE SALUD, ¿PUEDO TIRAR?
        </h1>
        <section class="main_beneficios rta4">
			Siempre que haya una condición específica a considerar, mejor escuchar una indicación profesional. Más allá de que en principio no hay impedimentos para la práctica, los casos particulares tiene que evaluarlos un profesional médico para habilitar cualquier esfuerzo. A partir de ese punto, nosotros adaptamos las clases para que el impacto sea mínimo.

        </section>
		
		<h1 class="main_subtitle pregunta5 general_center">
			TENGO "TANTOS" AÑOS, ¿PUEDO APRENDER IGUAL?
        </h1>
        <section class="main_beneficios rta5">
			Para nada, los arcos de iniciación son de baja potencia y, si bien al principio uno no está acostumbrado y se cansa, con el tiempo el cuerpo se fortalece y puede dominar mayor potencia. Hay chicos pequeños que practican y tienen mucha menos fuerza que un adulto!
        </section>
		

	<!-- inicio footer -->
    <footer class="footer">
        -- Total Archery 2022 v2.5 -- 
    </footer>
	<!-- cierre footer -->	

</body>
</html>
