<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Total Archery</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>
<body class="cuerpo servicios general_center">
    <!--INICIO ENCABEZADO-->

        <!-- LOGO encabezado -->
            <div class="header_logo">
                <img src="../assets/img/logo.png" alt="logo">
            </div>
        <!-- CIERRE LOGO -->
        <!-- INICIO NAV -->
            <nav class="header_barraNav general_center">
                <!-- lista con viñetas -->
                <div class="general_center">
                    <a href="../index.html">Inicio</a>
                </div>
                <div class="general_center">
                    <a href="servicios.html">Servicios</a>
                </div>
                <div class="general_center">
                    <a href="sobreeltiroconarco.html">Sobre el Tiro con Arco</a>
                </div>
                <div class="general_center">
                    <a href="galeria.html">Galería</a>
                </div>
                <div class="general_center">
                    <a href="preguntas.html">Preguntas Frecuentes</a>
                </div>
            </nav>	
        <!-- CIERRE NAV -->
        <!-- INICIO REDES NAV -->
            <div class="header_redes general_center">
                <div>
                    <h2>¡Seguinos en las redes!</h2>
                </div>
                <div class="header_redes_img">
                    <a href="http://www.instagram.com/TotalArcheryBA"><img src="../assets/img/ig_icon.jpg" alt="logo ig"></a>				
                </div>
                <div class="header_redes_img">
                    <a href="http://www.facebook.com/TotalArcheryBA"><img src="../assets/img/fb_icon.jpg" alt="logo fb"> </a>
                </div>
            </div>    
        <!-- CIERRE REDES NAV -->

	<!-- CIERRE ENCABEZADO -->

    <!-- inicio contenido -->

        <h1 class="main_title general_center"> Servicios </h1>
		<section class="main_description">
			<h2> Te contamos cómo es nuestro recorrido de aprendizaje y trabajo en las clases </h2>
			<img class="imgServicios" src="../assets/img/recorrido.png" alt="recorrido de aprendizaje">
			<h2> Nuestro recorrido de enseñanza está focalizado en construir una buena base técnica desde la primera clase y mejorar el manejo corporal para adquirir la percepción fina y la precisión que requiere un tiro de alto nivel </h3>
		</section>
		<!-- SECCION NUESTROS SERVICIOS -->
		
			<div class="main_servicios_imagen imgServ1">
				<img src="../assets/img/logoColorido.png" alt="Paso 1">
			</div>
			<div class="main_servicios_texto serv1 general_center">
				<h1>Clase Inicial</h1>
				<br>
				<h2>Pensadas para probar la actividad y conocer la experiencia de disparar flechas. ¡¡Ideal para venir con amigos!! Se trabaja la seguridad en el manejo del equipo, se ven los elementos básicos del ciclo de tiro y se tiene la primera experiencia de tirar con arco y flecha</h2>
			</div>
		
		
			<div class="main_servicios_texto serv2 general_center">
				<h1>Niveles de iniciación</h1>
				<br>
				<h2>¿Querés aprender a tirar con precisión y mejorar lo que podés hacer con el arco? Los niveles de iniciación te dan los conocimientos teórico-prácticos que hacen que el tiro se vaya desarrollando de forma natural y simple para cada vez ir tirando mejor hasta llegar a las distancias más lejanas. Se trabaja sobre el conocimiento corporal y postural para mejorar aspectos técnicos, aspectos mentales, de equipo y se puede complementar con entrenamiento físico</h2>
			</div>
			<div class="main_servicios_imagen imgServ2">
					<img src="../assets/img/logoColorido.png" alt="Paso 1">
			</div>				
		
        
				<div class="main_servicios_imagen imgServ3">
					<img src="../assets/img/logoColorido.png" alt="Paso 1">
				</div>				
				<div class="main_servicios_texto serv3 general_center">
					<h1>Perfeccionamiento Técnico</h1>
					<br>
					<h2>Para personas que hayan superado los niveles de iniciación, cada tirador tiene su plan de entrenamiento para potenciar el desarrollo de su tiro. En el caso de gente que haya iniciado su experiencia de tiro en otro club, se analiza el gesto deportivo automatizado y se acuerda un plan de trabajo para incorporar los elementos que sean necesarios (en el caso de que venga de clubes que no tengan una metodología formalizada o trabajo técnico explícito) y se trabaja de forma similar a los avanzados. Según el nivel de la persona, puede sumarse a los niveles de iniciación técnica </h3>
				</div>
		
		
				<div class="main_servicios_texto serv4 general_center">
					<h1>Eventos Recreativos y Empresariales</h1>
					<br>
					<h2>Sumá el tiro con arco a cumpleaños, ferias, convenciones y casi cualquier evento que organices. ¡Hacelo diferente! Hemos realizado eventos de hasta 40 personas</h2>
				</div>
				<div class="main_servicios_imagen imgServ4">
					<img src="../assets/img/logoColorido.png" alt="Paso 1">
				</div>				
		

    <footer class="footer">
        -- Total Archery 2022 v2.5 - 
    </footer>

</body>