<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="Clases de Tiro con Arco">
    <meta name="keywords" content="arco, flecha, arquería, blanco, deporte, divertido">
    <meta name="author" content="Total Archery - Club de Arquería en Buenos Aires">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Total Archery</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>
<body class="cuerpo sobreeltiroconarco general_center">
    <!--INICIO ENCABEZADO-->
            <!-- LOGO encabezado -->
            <div class="header_logo">
                <img src="../assets/img/logo.png" alt="logo">
            </div>
        <!-- CIERRE LOGO -->
        <!-- INICIO NAV -->
            <nav class="header_barraNav general_center">
                <!-- lista con viñetas -->
                <div class="general_center">
                    <a href="../index.html">Inicio</a>
                </div>
                <div class="general_center">
                    <a href="servicios.html">Servicios</a>
                </div>
                <div class="general_center">
                    <a href="sobreeltiroconarco.html">Sobre el Tiro con Arco</a>
                </div>
                <div class="general_center">
                    <a href="galeria.html">Galería</a>
                </div>
                <div class="general_center">
                    <a href="preguntas.html">Preguntas Frecuentes</a>
                </div>
            </nav>	
        <!-- CIERRE NAV -->
        <!-- INICIO REDES NAV -->
            <div class="header_redes general_center">
                <div>
                    <h4>¡Seguinos en las redes!</h4>
                </div>
                <div class="header_redes_img">
                    <a href="http://www.instagram.com/TotalArcheryBA"><img src="../assets/img/ig_icon.jpg" alt="logo ig"></a>				
                </div>
                <div class="header_redes_img">
                    <a href="http://www.facebook.com/TotalArcheryBA"><img src="../assets/img/fb_icon.jpg" alt="logo fb"> </a>
                </div>
            </div>    
        <!-- CIERRE REDES NAV -->
	<!-- CIERRE ENCABEZADO -->
    <!--    INICIO MAIN  -->
    
        <h1 class="main_title general_center"> Sobre el Tiro con Arco </h1>
        <h2 class="main_description general_center">
                El Tiro con Arco es una disciplina que se remonta a las primeras sociedades de la historia. En aquellos tiempos indispensable para la supervivencia ya que permitía la caza a distancia, disminuyendo el riesgo de que el animal atacara.
                <br><br>        
                Actualmente, permanece como una disciplina recreativa (deportiva o caza) pero que preserva ese misterio que hace que pocas personas puedan resistirse a probar la experiencia del tiro. Incluso hay quienes descubren que tenían un gen robinhoodense adentro ¡y no pueden dejar de tirar!</h2>
        </h2 >

        <h1 class="main_subtitle general_center">¿CUÁLES SON LOS BENEFICIOS DE LA PRÁCTICA?
        </h1>

        <section class="main_beneficios">Practicar arquería conlleva los siguientes beneficios: <br>
            -Mejora la postura ya que es necesario estar bien erguido al disparar. <br>
            -Fortalece el cuerpo ya que aun los arcos de baja potencia implican sostener repetidamente una fuerza. <br>
            -Mejoran la concentración, al tener que prestar atención a múltiples cosas simultáneamente para que el tiro salga limpio. <br>
            -Favorecen la relajación ya que el tirador avanzado necesita trabajar con la respiración y utilizar la fuerza indicada, sin tensionarse. <br>
            -Permite socializar. Si bien es un deporte individual, las clases son grupales y siempre se fomenta la camaradería. <br>
            -No requiere habilidades previas. Es uno de los deportes más inclusivos ya que cualquiera puede practicarlo, siempre considerando los casos particulares y adaptando la práctica. <br>
        </section>
    
    <!--    CIERRE MAIN -->
<!--    INICIO FOOTER  -->
<footer class="footer general_center">
    -- Total Archery 2022 v2.5 -- 
</footer>
</body>
<!--    CIERRE CUERPO -->