$colorAzulOscuro: #00698c;
$colorAzulClaro: #70c5e2;
$colorNaranjaOscuro: #f39638;
$colorNaranjaClaro: #efe2d5;
$colorRojo: #C1272D;
$font: Roboto;

/* -------- mapa para breakpoints ------------------ */
$breakpoints: ( 
    sm: 320px,
    md: 768px,
    lg: 1000px,
);
