/* -------------------------------- FORMATO SOBRE EL TIRO CON ARCO -------------------------------- */    
.main_beneficios {
    grid-area: bene;
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-family: Roboto;
    font-style: italic;
    padding: 2%;
    line-height: 30px;
}

